[Unit]
Description=qBittorrent-nox service
After=network.target

[Service]
User=nestor
ExecStart=/usr/bin/qbittorrent-nox --webui-port=8080
Restart=on-failure

[Install]
WantedBy=multi-user.target
